{
  storage file_system C:\ProgramData\Caddy
}

printserver.local {
    	tls internal	
	reverse_proxy 127.0.0.1:8088 {
    		transport http {
			keepalive 30m
			keepalive_interval 30s
      		}
    	}
}
